{% extends 'Clinicwebsite/base.html' %}


{% block content %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Забыли свой пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам по электронной почте инструкции по установке нового адреса.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}                    
            <button class="btn btn-primary" type="submit">Отправить электронное письмо</button>
        </form>
  	</div> 

{% endblock %}